.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 600;
}
